{% extends 'access_base_pdf.html.twig' %}

{% block content %}

    {% include 'common/nav.html.twig' %}



    <div class="row mt-4">

    <div class="col-sm-3 list-group">
        {% set count = 0 %}
        {% for mda in all_mda %}
            {% set count = count + 1 %}
            <a href="{{ path('print_mda_letter', { 'id':mda.id }) }}" class="list-group-item">
            {{ count }}. {{ mda.name }}
            </a>

            {% endfor %}
    </div>
        <div class="col-sm-9">

            <h2 class="page-header pt-4">{{ mda.name }} letter</h2>
            <hr>


            <button class="btn btn-primary btn-xs mr-2" onclick="printElem('letter');"><i class="fa fa-print"></i> Print</button>


            <div class="padding_50 font-lg" id="letter" style="background-color:#fff !Important; width:100% !Important;font-family: 'Times New Roman' !Important">

                <img src="{{ asset('assets/images/fcc_letterhead.png') }}" style="max-width: 100%" class="mb-5">

                <p class="float-right font-weight-900" style="margin-top: -3px">{{ date }}</p>



                <b>{{ trainings.trainingCode }}</b>

                <div class="clearfix mb-4"></div>

                <p class="m-0">{{ mda.topOfficialDesignation }},<br>
                    {{ mda.name }}.</p>
                <div class="row">
                <div class="col-8 m-0">{{ mda.address }}</div>
                </div>




                <div class="clearfix mb-5"></div>

                {% autoescape false %}
                    {{ train_letter_continue }}
                {% endautoescape %}


            </div>


        </div>

    </div>





{% endblock %}