{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-6 mx-auto">

            <h2>{{ training.title }}</h2>

            <hr>

            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>Link Training</h4>
                </div>
                <div class="card-body">

                    {% if parent_training != '0' %}

                        <h5 class="text-center">This training is already linked to {{ parent_training.title }}</h5>
                        <hr>
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </div>


{% endblock %}