{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="float-right mb-4">
        <a href="{{ path('admin_view_training', {'id': training.id}) }}" class="btn btn-xs btn-warning mt-1"><i class="fa fa-chevron-circle-left"></i> Back to training</a>

    </div>
    <div class="clearfix"></div>
    <div class="card">
        <div class="card-header bg-dark text-white font-white p-3 font-sm-4">
            {{ training.title }}
        </div>
        <div class="card-body ">
            <h3>{{ training_session.name }}</h3>
        </div>


    </div>

    <div class="text-center text-danger mx-auto p-3">Calculations are based on participants/MDAs that attended</div>
    <div class="row text-white text-center">



    <div class="col-md-4">

        <div class="card">
            <div class="card-body text-center text-white bg-dark font-white">
                <b class="text-uppercase font-xs">Total expected payments</b>
                <p class="font-lg m-0">&#8358;{{ total_expected|number_format }}</p>
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card">
            <div class="card-body text-center text-white bg-dark font-white">
                <b class="text-uppercase font-xs">Total payments received</b>
                <p class="font-lg m-0">&#8358;{{ total_paid|number_format }}</p>
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card">
            <div class="card-body bg-dark text-center text-white font-white">
                <b class="text-uppercase font-xs">Total outstanding payments</b>
                <p class="font-lg m-0">&#8358;{{ total_outstanding|number_format }}</p>
            </div>
        </div>

    </div>
    </div>


    <div class="card">
        <div class="card-header ">
            <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-registered-tab" data-toggle="pill" href="#pills-registered" role="tab" aria-controls="pills-home" aria-selected="true">Registered participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-attended-tab" data-toggle="pill" href="#pills-attended" role="tab" aria-controls="pills-profile" aria-selected="false">Participants who attended</a>
                </li>

            </ul>
        </div>

        <div class="card-body">

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-registered" role="tabpanel" aria-labelledby="pills-home-tab">


                    <table id="example" class="datatable table display table-bordered table-striped table-hover" cellspacing="0" width="100%">
                        <thead >
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>MDA</th>
                            <th>Session</th>
                            <th>Attended</th>
                            <th>Reg. Date</th>
                            <th>Payment status</th>
                            <th>Invoice</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for participant in training_participants %}
                            <tr>
                                <td>{{ participant.name }}</td>
                                <td>{{ participant.email }}</td>
                                <td>{{ participant.phone }}</td>
                                <td>{{ participant.mda }}</td>
                                <td>{{ participant.session }}</td>
                                <td>
                                    {% if participant.attended == 0 %}

                                        No
                                    {% else %}

                                        Yes

                                    {% endif %}
                                </td>
                                <td>{{ participant.date|date('jS F, Y') }}</td>
                                <td>
                                    {% if participant.payment_status == 0 %}

                                        <span class="text-danger">Not paid</span>

                                    {% else %}

                                        <span class="text-success">Paid</span>

                                    {% endif %}
                                </td>
                                <td>#{{ participant.invoice_id }}</td>
                                <td>

                                    {% if participant.payment_status == 0 %}

                                        <a href="{{ path('user_view_invoice', { 'id':participant.invoice_id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-file-o"></i> View invoice</a>

                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div class="tab-pane fade" id="pills-attended" role="tabpanel" aria-labelledby="pills-profile-tab">


                    <table id="example" class="datatable table display table-bordered table-striped table-hover" cellspacing="0" width="100%">
                        <thead >
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>MDA</th>
                            <th>Session</th>
                            <th>Attended</th>
                            <th>Payment status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for participant in attended_participants %}
                            <tr>
                                <td>{{ participant.name }}</td>
                                <td>{{ participant.email }}</td>
                                <td>{{ participant.phone }}</td>
                                <td>{{ participant.mda }}</td>
                                <td>{{ participant.session }}</td>
                                <td>
                                    {% if participant.attended == 0 %}

                                        No
                                    {% else %}

                                        Yes

                                    {% endif %}
                                </td>
                                <td>
                                    {% if participant.payment_status == 0 %}

                                        <span class="text-danger">Not paid</span>

                                    {% else %}

                                        <span class="text-success">Paid</span>

                                    {% endif %}
                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>






{% endblock %}