<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/look_css/css/look_base_v2.min.css') }}" media="screen, print" type="text/style">
            <link rel="stylesheet" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css') }}" type="text/style">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" media="screen, print" type="text/style">
            <link rel="stylesheet" href="{{ asset('assets/css/toastr.css') }}" type="text/style">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/style">
            <link rel="stylesheet" href="{{ asset('assets/css/select2.css') }}" type="text/style">
        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
            <script src="{{ asset('assets/js/toastr.js') }}"></script>
            <script src="{{ asset('assets/js/timeago.js') }}"></script>
            <script src="{{ asset('assets/js/select2.js') }}"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}


        {% include'common/footer.html.twig' %}

    </body>
</html>
