<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ asset('assets/images/fav_ico.png') }}"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/look_css/css/look_base_v2.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/toastr.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/select2.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/scss/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/scss/owl.theme.default.css') }}">


        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script src="//www.powr.io/powr.js?external-type=html"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
            <script src="{{ asset('assets/js/owl.carousel.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
            <script src="{{ asset('assets/js/toastr.js') }}"></script>
            <script src="{{ asset('assets/js/timeago.js') }}"></script>
            <script src="{{ asset('assets/js/select2.js') }}"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}

        <script>
            window['_fs_debug'] = false;
            window['_fs_host'] = 'fullstory.com';
            window['_fs_org'] = 'AVV4N';
            window['_fs_namespace'] = 'FS';
            (function(m,n,e,t,l,o,g,y){
                if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
                g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
                o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
                y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
                g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
                y="rec";g.shutdown=function(i,v){g(y,!1)};g.restart=function(i,v){g(y,!0)};
                g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
                g.clearUserCookie=function(){};
            })(window,document,window['_fs_namespace'],'script','user');
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}


        {% include'common/footer.html.twig' %}


        {% for flashMessage in app.session.flashbag.get('error') %}

            <script>
                toastr.error("{{ flashMessage }}");
            </script>

        {% endfor %}


        {% for flashMessage in app.session.flashbag.get('success') %}

            <script>
                toastr.success("{{ flashMessage }}");
            </script>

        {% endfor %}



    </body>
</html>
