{% extends'user_base.html.twig' %}

{% block body %}


    <div class="row">


        <div class="col-md-9">

    <div class="card">

        <div class="card-header bg-dark font-white">
            <h4>Apply for {{ training.title }}</h4>
        </div>

        <div class="card-body">


            <form action="{{ path('user_training_apply', { 'id': training.id }) }}" method="POST">

                <div class="form-group">
                    <label>Select a session</label>
                    <select required="required" name="training_session" class="form-control">
                        <option disabled selected value="">-- Select a session --</option>
                        {% for session in training_sessions %}

                            <option value="{{ session.id }}">{{ session.name }} - {{ session.startdate|date("d M, Y") }} till {{ session.enddate|date("d M, Y") }}</option>

                        {% endfor %}
                    </select>
                </div>

                <hr>

                <a style="cursor: pointer" class="float-right font-white btn btn-xs btn-success" id="add_participant"><i class="fa fa-plus"></i> Add another participant</a>

                <h4 class="mb-4">Add participants</h4>

                <div id="training_form_participants">

                    <div class="bg-gray p-3 mb-3">
                <div class="form-group">
                    <label>Participant name</label>
                    <input type="text" class="form-control" required="required" name="participants[]" value="{{ user.firstname }} {{ user.lastname }}">
                </div>

                    <div class="form-group">
                        <label>Participant email</label>
                        <input type="email" class="form-control" required="required" name="participants_email[]">
                    </div>

                <div class="form-group">
                    <label>Participant phone</label>
                    <input type="text" class="form-control" onkeypress="return isNumber(event)" name="participants_phone[]">
                </div>
                    </div>

                </div>



                <button class="btn btn-primary">Submit</button>

            </form>

        </div>

    </div>

        </div>

    <div class="col-md-3">


            <h4><i class="fa fa-info-circle"></i> Organization registration fee</h4>
            &#8358;{{ training.registrationfee|number_format }}

        <h4 class="mt-3"><i class="fa fa-info-circle"></i> Each participant fee</h4>
        &#8358;{{ training.individualamount|number_format }}

        <h4 class="mt-3"><i class="fa fa-info-circle"></i> Each extra personnel fee (after {{ training.individualspermda }} participants)</h4>
        &#8358;{{ training.extrapersonnelamount|number_format }}


    </div>


    </div>


{% endblock %}