{% extends 'user_base.html.twig' %}

{% block body %}


    <div class="row">

        <div class="col-md-8">

            <div class="card">
                <div class="card-header bg-dark font-white">
                    My MDA Information
                </div>
                <div class="card-body">

                    <h1 class="font-weight-100 font-lg-4"><i class="fa fa-institution"></i> {{ mda.name }}</h1>

                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa fa-barcode"></i> <b>MDA Code:</b> {{ mda.mdacode }}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-building"></i> <b>Address:</b> {{ mda.address }}
                    </li>

                    <li class="list-group-item">
                        <i class="fa fa-phone"></i> <b>Phone:</b> {{ mda.phone }}
                    </li>

                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> <b>Email:</b> {{ mda.email }}
                    </li>
                </ul>

            </div>

        </div>

        <div class="col-md-4">
            <h4><i class="fa fa-info-circle"></i> Info</h4>
            <p>If your MDA information is inaccurate please contact the administrator to correct the information</p>

            <b>Administrator</b>
            <p>
                <i class="fa fa-envelope"></i> admin@federalcharacter.com <br>
                <i class="fa fa-phone"></i> 0812345678
            </p>
            <p></p>
        </div>

    </div>


{% endblock %}